stages:
  - fmt
  - validate
  - plan
  - apply
  - destroy

variables:
  TF_ROOT: "Day-1-basic-code"

# Format check
terraform_fmt:
  stage: fmt
  image: hashicorp/terraform:1.5.7
  entrypoint: [""]
  script:
    - cd $TF_ROOT
    - terraform fmt -check
  allow_failure: true
  artifacts:
    paths:
      - $TF_ROOT

# Validate Terraform configuration
terraform_validate:
  stage: validate
  image: hashicorp/terraform:1.5.7
  entrypoint: [""]
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform validate

# Terraform plan
terraform_plan:
  stage: plan
  image: hashicorp/terraform:1.5.7
  entrypoint: [""]
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan

# Terraform apply (manual trigger)
terraform_apply:
  stage: apply
  image: hashicorp/terraform:1.5.7
  entrypoint: [""]
  when: manual
  script:
    - cd $TF_ROOT
    - terraform apply -auto-approve tfplan

# Terraform destroy (manual trigger)
terraform_destroy:
  stage: destroy
  image: hashicorp/terraform:1.5.7
  entrypoint: [""]
  when: manual
  script:
    - cd $TF_ROOT
    - terraform destroy -auto-approve
