@tailwind base;
@tailwind components;
@tailwind utilities;


body { @apply bg-gray-50 text-gray-900; }


.container { @apply max-w-5xl mx-auto p-4; }
.card { @apply bg-white rounded-lg shadow p-4; }




/* ------------------ src/main.jsx ------------------ */
import React from 'react'
import { createRoot } from 'react-dom/client'
import App from './App'
import './index.css'


createRoot(document.getElementById('root')).render(<App />)