version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: insurance_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: insurance_db
    ports:
      - "3306:3306"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    container_name: insurance_backend
    restart: always
    depends_on:
      - mysql
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: insurance_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
