image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

stages:
  - fmt
  - init
  - validate
  - plan
  - action

variables:
  TF_ROOT: "Day-1-basic-code"
  ACTION: ""   # Set "apply" or "destroy" in GitLab CI/CD variables before running

# -----------------------------
# BEFORE SCRIPT
# -----------------------------
before_script:
  - cd $TF_ROOT
  - terraform --version
  - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
  - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
  - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION

# -----------------------------
# FORMAT CHECK
# -----------------------------
terraform_fmt:
  stage: fmt
  script:
    - terraform fmt -check
  allow_failure: true

# -----------------------------
# INIT
# -----------------------------
terraform_init:
  stage: init
  script:
    - terraform init -input=false

# -----------------------------
# VALIDATE
# -----------------------------
terraform_validate:
  stage: validate
  script:
    - terraform init -input=false
    - terraform validate

# -----------------------------
# PLAN
# -----------------------------
terraform_plan:
  stage: plan
  script:
    - terraform init -input=false
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan
    expire_in: 1h
  dependencies:
    - terraform_validate

# -----------------------------
# APPLY OR DESTROY
# -----------------------------
terraform_action:
  stage: action
  when: manual
  dependencies:
    - terraform_plan
  rules:
    - if: '$ACTION == "apply" || $ACTION == "destroy"'
  script:
    - cd $TF_ROOT
    - |
      if [ "$ACTION" = "apply" ]; then
        echo "Running terraform apply..."
        terraform apply -auto-approve tfplan
      elif [ "$ACTION" = "destroy" ]; then
        echo "Running terraform destroy..."
        terraform destroy -auto-approve
      else
        echo "No valid action specified! Exiting..."
        exit 1
      fi
