image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

stages:
  - validate
  - plan
  - apply

before_script:
  - cd Day-1-basic-code
  - terraform --version

validate:
  stage: validate
  script:
    - terraform init
    - terraform validate
  artifacts:
    paths:
      - Day-1-basic-code/

plan:
  stage: plan
  script:
    - terraform init
    - terraform plan -out=tfplan
  dependencies:
    - validate
  artifacts:
    paths:
      - Day-1-basic-code/tfplan

apply:
  stage: apply
  when: manual        # remove this line if you want auto apply
  script:
    - terraform init
    - terraform apply -auto-approve
