stages:
  - fmt
  - init
  - plan
  - apply
  - destroy

.default_template: &setup
  image: alpine:latest
  before_script:
    - apk update
    - apk add --no-cache curl unzip bash
    - curl -LO https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip
    - unzip terraform_1.6.0_linux_amd64.zip
    - mv terraform /usr/local/bin/
    - terraform version

terraform_fmt:
  stage: fmt
  <<: *setup
  script:
    - terraform fmt -check -recursive

terraform_init:
  stage: init
  <<: *setup
  script:
    - terraform init
  artifacts:
    paths:
      - .terraform/
      - .terraform.lock.hcl

terraform_plan:
  stage: plan
  <<: *setup
  script:
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - tfplan
  dependencies:
    - terraform_init

terraform_apply:
  stage: apply
  <<: *setup
  script:
    - terraform apply -auto-approve tfplan
  when: manual
  dependencies:
    - terraform_plan

terraform_destroy:
  stage: destroy
  <<: *setup
  script:
    - terraform destroy -auto-approve
  when: manual
