image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

stages:
  - fmt
  - init
  - validate
  - plan
  - apply
  - destroy

variables:
  TF_ROOT: "Day-1-basic-code"

before_script:
  - cd $TF_ROOT
  - terraform --version
  - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
  - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
  - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION

# -----------------------------
# FMT
# -----------------------------
terraform_fmt:
  stage: fmt
  script:
    - terraform fmt -check
  allow_failure: true

# -----------------------------
# INIT
# -----------------------------
terraform_init:
  stage: init
  script:
    - terraform init -input=false

# -----------------------------
# VALIDATE
# -----------------------------
terraform_validate:
  stage: validate
  script:
    - terraform init -input=false
    - terraform validate

# -----------------------------
# PLAN
# -----------------------------
terraform_plan:
  stage: plan
  script:
    - terraform init -input=false
    - terraform plan -out=tfplan
  dependencies:
    - terraform_validate
  artifacts:
    paths:
      - tfplan

# -----------------------------
# APPLY
# -----------------------------
terraform_apply:
  stage: apply
  when: manual
  script:
    - terraform apply -auto-approve tfplan
  dependencies:
    - terraform_plan

# -----------------------------
# DESTROY
# -----------------------------
terraform_destroy:
  stage: destroy
  when: manual
  script:
    - terraform destroy -auto-approve
