stages:
  - fmt
  - validate
  - plan
  - apply

variables:
  TF_ROOT: "Day-1-basic-code"

terraform_fmt:
  stage: fmt
  image: hashicorp/terraform:1.5.7
  script:
    - cd $TF_ROOT
    - terraform fmt
  artifacts:
    paths:
      - $TF_ROOT
    expire_in: 1 hour

terraform_validate:
  stage: validate
  image: hashicorp/terraform:1.5.7
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform validate

terraform_plan:
  stage: plan
  image: hashicorp/terraform:1.5.7
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan
    expire_in: 1 hour

terraform_apply:
  stage: apply
  image: hashicorp/terraform:1.5.7
  when: manual
  script:
    - cd $TF_ROOT
    - terraform apply -auto-approve tfplan
