stages:
  - fmt
  - init
  - plan
  - apply
  - destroy

.default_template: &setup
  image: alpine:latest
  before_script:
    - apk update
    - apk add --no-cache curl unzip bash
    - curl -LO https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip
    - unzip terraform_1.6.0_linux_amd64.zip
    - mv terraform /usr/local/bin/
    - terraform version
    - cd Day-1-basic-code
    - export TF_WORK_DIR=$(pwd)

# ---------------------------- #
#     FMT
# ---------------------------- #
terraform_fmt:
  stage: fmt
  <<: *setup
  script:
    - terraform fmt -recursive
  artifacts:
    paths:
      - Day-1-basic-code/
    expire_in: 1 hour

# ---------------------------- #
#     INIT
# ---------------------------- #
terraform_init:
  stage: init
  <<: *setup
  script:
    - terraform init
  dependencies:
    - terraform_fmt
  artifacts:
    paths:
      - Day-1-basic-code/.terraform/
      - Day-1-basic-code/.terraform.lock.hcl
    expire_in: 1 hour

# ---------------------------- #
#     PLAN
# ---------------------------- #
terraform_plan:
  stage: plan
  <<: *setup
  script:
    - terraform plan -out=tfplan
  dependencies:
    - terraform_init
  artifacts:
    paths:
      - Day-1-basic-code/tfplan
    expire_in: 1 hour

# ---------------------------- #
#     APPLY (manual)
# ---------------------------- #
terraform_apply:
  stage: apply
  <<: *setup
  script:
    - terraform apply -auto-approve tfplan
  when: manual
  dependencies:
    - terraform_plan

# ---------------------------- #
#     DESTROY (manual)
# ---------------------------- #
terraform_destroy:
  stage: destroy
  <<: *setup
  script:
    - terraform destroy -auto-approve
  when: manual
