image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

stages:
  - fmt
  - validate
  - plan
  - action

variables:
  TF_ROOT: "Day-1-basic-code"

# -----------------------------
# Terraform Format Check
# -----------------------------
terraform_fmt:
  stage: fmt
  script:
    - cd $TF_ROOT
    - terraform fmt -check
  allow_failure: true

# -----------------------------
# Terraform Validate
# -----------------------------
terraform_validate:
  stage: validate
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform validate

# -----------------------------
# Terraform Plan
# -----------------------------
terraform_plan:
  stage: plan
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan

# -----------------------------
# Terraform APPLY (manual)
# User must set ACTION = "apply"
# -----------------------------
terraform_apply:
  stage: action
  script:
    - cd $TF_ROOT
    - terraform apply -auto-approve tfplan
  when: manual
  rules:
    - if: '$ACTION == "apply"'

# -----------------------------
# Terraform DESTROY (manual)
# User must set ACTION = "destroy"
# -----------------------------
terraform_destroy:
  stage: action
  script:
    - cd $TF_ROOT
    - terraform destroy -auto-approve
  when: manual
  rules:
    - if: '$ACTION == "destroy"'
