image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

variables:
  TF_ROOT: "Day-1-basic-code"

stages:
  - init
  - action

# ----------------------------------------------------
# Terraform INIT
# ----------------------------------------------------
terraform_init:
  stage: init
  script:
    - cd $TF_ROOT
    - terraform init
  rules:
    - if: '$ACTION == "apply"'
    - if: '$ACTION == "destroy"'

# ----------------------------------------------------
# Terraform APPLY
# ----------------------------------------------------
terraform_apply:
  stage: action
  script:
    - cd $TF_ROOT
    - terraform plan
    - terraform apply -auto-approve
  rules:
    - if: '$ACTION == "apply"'

# ----------------------------------------------------
# Terraform DESTROY
# ----------------------------------------------------
terraform_destroy:
  stage: action
  script:
    - cd $TF_ROOT
    - terraform plan -destroy
    - terraform destroy -auto-approve
  rules:
    - if: '$ACTION == "destroy"'
