image: hashicorp/terraform:latest

stages:
  - fmt
  - validate
  - plan
  - apply

terraform_fmt:
  stage: fmt
  script:
    - cd Day-1-basic-code
    - terraform fmt -check

terraform_validate:
  stage: validate
  script:
    - cd Day-1-basic-code
    - terraform init
    - terraform validate

terraform_plan:
  stage: plan
  script:
    - cd Day-1-basic-code
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - Day-1-basic-code/tfplan

terraform_apply:
  stage: apply
  when: manual
  script:
    - cd Day-1-basic-code
    - terraform apply -auto-approve tfplan
