stages:
  - fmt
  - init
  - plan
  - apply
  - destroy

# Install Terraform manually inside Alpine
.default_template: &setup
  image: alpine:latest
  before_script:
    - apk update
    - apk add --no-cache curl unzip bash
    - curl -LO https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip
    - unzip terraform_1.6.0_linux_amd64.zip
    - mv terraform /usr/local/bin/
    - terraform version
    - cd Day-1-basic-code        # <<==== IMPORTANT FIX
    - export TF_WORK_DIR=$(pwd)  # store path for next stages

# ---------------------------- #
#     1. Terraform FMT          #
# ---------------------------- #
terraform_fmt:
  stage: fmt
  <<: *setup
  script:
    - cd "$TF_WORK_DIR"
    - echo "Running auto-format..."
    - terraform fmt -recursive
    - echo "Terraform code formatted successfully!"
  artifacts:
    paths:
      - Day-1-basic-code/
    expire_in: 1 hour

# ---------------------------- #
#     2. Terraform INIT         #
# ---------------------------- #
terraform_init:
  stage: init
  <<: *setup
  script:
    - cd "$TF_WORK_DIR"
    - terraform init
  dependencies:
    - terraform_fmt
  artifacts:
    paths:
      - Day-1-basic-code/.terraform/
      - Day-1-basic-code/.terraform.lock.hcl
    expire_in: 1 hour

# ---------------------------- #
#     3. Terraform PLAN         #
# ---------------------------- #
terraform_plan:
  stage: plan
  <<: *setup
  script:
    - cd "$TF_WORK_DIR"
    - terraform plan -out=tfplan
  dependencies:
    - terraform_init
  artifacts:
    paths:
      - Day-1-basic-code/tfplan
    expire_in: 1 hour

# ---------------------------- #
#     4. Terraform APPLY        #
# ---------------------------- #
terraform_apply:
  stage: apply
  <<: *setup
  script:
    - cd "$TF_WORK_DIR"
    - terraform apply -auto-approve tfplan
  when: manual
  allow_failure: false
  dependencies:
    - terraform_plan

# ---------------------------- #
#     5. Terraform DESTROY      #
# ---------------------------- #
terraform_destroy:
  stage: destroy
  <<: *setup
  script:
    - cd "$TF_WORK_DIR"
    - terraform destroy -auto-approve
  when: manual
  allow_failure: false
