image: hashicorp/terraform:1.5.7  # Use stable Terraform image

stages:
  - fmt
  - validate
  - plan
  - apply

variables:
  TF_IN_AUTOMATION: "true"

# -----------------------
# Terraform format check
# -----------------------
terraform_fmt:
  stage: fmt
  script:
    - cd Day-1-basic-code
    - terraform fmt -check

# -----------------------
# Terraform validation
# -----------------------
terraform_validate:
  stage: validate
  script:
    - cd Day-1-basic-code
    - terraform init -input=false
    - terraform validate

# -----------------------
# Terraform plan
# -----------------------
terraform_plan:
  stage: plan
  script:
    - cd Day-1-basic-code
    - terraform init -input=false
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - Day-1-basic-code/tfplan

# -----------------------
# Terraform apply
# -----------------------
terraform_apply:
  stage: apply
  when: manual
  script:
    - cd Day-1-basic-code
    - terraform apply -auto-approve tfplan
