image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

stages:
  - fmt
  - validate
  - plan
  - apply
  - destroy

variables:
  TF_ROOT: "Day-1-basic-code"

before_script:
  - cd $TF_ROOT
  - terraform --version

# Terraform format check
terraform_fmt:
  stage: fmt
  script:
    - terraform fmt -check
  allow_failure: true
  artifacts:
    paths:
      - $TF_ROOT

# Terraform validate
terraform_validate:
  stage: validate
  script:
    - terraform init -input=false
    - terraform validate

# Terraform plan
terraform_plan:
  stage: plan
  script:
    - terraform init -input=false
    - terraform plan -out=tfplan
  dependencies:
    - terraform_validate
  artifacts:
    paths:
      - $TF_ROOT/tfplan

# Terraform apply (manual)
terraform_apply:
  stage: apply
  when: manual
  script:
    - terraform apply -auto-approve tfplan

# Terraform destroy (manual)
terraform_destroy:
  stage: destroy
  when: manual
  script:
    - terraform destroy -auto-approve
