# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl
# documents
*.doc.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

echo ".terraform/" >> .gitignore
echo "*.tfstate" >> .gitignore
echo "*.tfstate.backup" >> .gitignore
echo ".terraform.lock.hcl" >> .gitignore
echo "crash.log" >> .gitignore

