image:
  name: hashicorp/terraform:1.5.7

stages:
  - fmt
  - init
  - validate
  - plan
  - action

variables:
  TF_ROOT: "Day-1-basic-code"
  ACTION: "apply"  # <-- change to "destroy" to destroy automatically

before_script:
  - cd $TF_ROOT
  - terraform --version
  - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
  - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
  - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION

terraform_fmt:
  stage: fmt
  script:
    - terraform fmt -recursive
  allow_failure: true

terraform_init:
  stage: init
  script:
    - terraform init -input=false

terraform_validate:
  stage: validate
  script:
    - terraform validate

terraform_plan:
  stage: plan
  script:
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan

terraform_action:
  stage: action
  script:
    - |
      if [ "$ACTION" = "apply" ]; then
        terraform apply -auto-approve tfplan
      elif [ "$ACTION" = "destroy" ]; then
        terraform destroy -auto-approve
      else
        echo "Invalid ACTION! Exiting..."
        exit 1
      fi
  dependencies:
    - terraform_plan
