image:
  name: hashicorp/terraform:1.5.7
  entrypoint: [""]

stages:
  - fmt
  - init
  - validate
  - plan
  - action

variables:
  TF_ROOT: "Day-1-basic-code"
  ACTION: ""  # Will choose manually in GitLab UI ("apply" or "destroy")

# -----------------------------
# BEFORE SCRIPT
# -----------------------------
before_script:
  - cd $TF_ROOT
  - terraform --version
  - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
  - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
  - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION

# -----------------------------
# FORMAT CHECK
# -----------------------------
terraform_fmt:
  stage: fmt
  script:
    - terraform fmt -check
  allow_failure: true

# -----------------------------
# INIT
# -----------------------------
terraform_init:
  stage: init
  script:
    - terraform init -input=false

# -----------------------------
# VALIDATE
# -----------------------------
terraform_validate:
  stage: validate
  script:
    - terraform init -input=false
    - terraform validate

# -----------------------------
# PLAN
# -----------------------------
terraform_plan:
  stage: plan
  script:
    - terraform init -input=false
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/tfplan
    expire_in: 1h
  dependencies:
    - terraform_validate

# -----------------------------
# APPLY OR DESTROY (manual)
# -----------------------------
terraform_action:
  stage: action
  when: manual
  variables:
    ACTION:
      value: "apply"     # default
      options:
        - apply
        - destroy
  dependencies:
    - terraform_plan
  script:
    - cd $TF_ROOT
    - |
      if [ "$ACTION" = "apply" ]; then
        terraform apply -auto-approve tfplan
      elif [ "$ACTION" = "destroy" ]; then
        terraform destroy -auto-approve
      else
        echo "Invalid action! Exiting..."
        exit 1
      fi
