image: hashicorp/terraform:1.5.7

stages:
  - fmt
  - init
  - validate
  - plan
  - action

variables:
  TF_ROOT: "Day-1-basic-code"
  ACTION: "apply"   # change to "destroy" to auto destroy

before_script:
  - cd "$TF_ROOT"
  - terraform --version

# -----------------------------
# FORMAT
# -----------------------------
terraform_fmt:
  stage: fmt
  script:
    - echo "Automatically formatting Terraform files..."
    - terraform fmt -recursive

# -----------------------------
# INIT
# -----------------------------
terraform_init:
  stage: init
  script:
    - echo "Initializing Terraform..."
    - terraform init -input=false

# -----------------------------
# VALIDATE
# -----------------------------
terraform_validate:
  stage: validate
  script:
    - echo "Validating Terraform configuration..."
    - terraform validate

# -----------------------------
# PLAN
# -----------------------------
terraform_plan:
  stage: plan
  script:
    - echo "Creating Terraform plan..."
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - "$TF_ROOT/tfplan"

# -----------------------------
# APPLY or DESTROY
# -----------------------------
terraform_action:
  stage: action
  script:
    - echo "Executing Terraform ACTION = $ACTION"
    - if [ "$ACTION" = "apply" ]; then terraform apply -auto-approve tfplan; fi
    - if [ "$ACTION" = "destroy" ]; then terraform destroy -auto-approve; fi
  dependencies:
    - terraform_plan
