version: "3.8"


services:


mysql:
image: mysql:8
container_name: mysql_db
restart: always
environment:
MYSQL_ROOT_PASSWORD: root
volumes:
- mysql_data:/var/lib/mysql
- ./init.sql:/docker-entrypoint-initdb.d/init.sql
ports:
- "3306:3306"


backend:
build: ./backend
container_name: backend_app
restart: always
env_file:
- ./backend/.env
ports:
- "5000:5000"
depends_on:
- mysql


frontend:
build: ./frontend
container_name: frontend_app
restart: always
ports:
- "3000:3000"
depends_on:
- backend


volumes:
mysql_data: