stages:
  - build
  - test

build:
  stage: build
  image: maven:3.9.2-eclipse-temurin-17
  script:
    - cd github-actions-java-demo
    - mvn clean install
  artifacts:
    paths:
      - github-actions-java-demo/target/

test:
  stage: test
  image: maven:3.9.2-eclipse-temurin-17
  script:
    - cd github-actions-java-demo
    - mvn test
  artifacts:
    when: always
    paths:
      - github-actions-java-demo/target/
    reports:
      junit: github-actions-java-demo/target/surefire-reports/*.xml
