name: Terraform CI

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: "Choose Terraform Action"
        required: true
        default: "plan"
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.5.7

      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Terraform Init
        working-directory: Day-1-basic-code
        run: terraform init

      - name: Terraform Plan / Apply / Destroy
        working-directory: Day-1-basic-code
        run: |
          echo "Selected Action: ${{ github.event.inputs.action }}"

          if [ "${{ github.event.inputs.action }}" == "plan" ]; then
            terraform plan
          fi

          if [ "${{ github.event.inputs.action }}" == "apply" ]; then
            terraform apply -auto-approve
          fi

          if [ "${{ github.event.inputs.action }}" == "destroy" ]; then
            terraform destroy -auto-approve
          fi
